body{
    background-color: #888;
}

h1{
    color: rgb(150, 29, 8);
}

p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    height: 200px;
    margin-top: 50px;
}